<h1><a href="/">Survey</a></h1>

<ul>
  <% @surveys.each do |survey| %>
    <li><a href="/surveys/<%= survey.id %>"><%= survey.name %></a></li>
    <form action="/surveys/<%= survey.id %>" method="post">
       <input name="_method" type="hidden" value="delete">
      <button type="submit">Delete Survey</button>
    </form>
    <% end %>
</ul>

<h3>Create a new survey:</h3>
<br>
<form action="/surveys" method="post">
  <label for="name">Survey name:</label>
  <input id= "name" name="name" type="text">
  <button type="submit" class="btn">Submit</button>

</form>
