<h1><a href="/">Survey</a></h1>

<ul>
  <% @survey.questions.each do |question| %>
  <li><a href="/questions/<%= question.id %>"><%= question.text %></a></li>
  <form action="/questions/<%= question.id %>" method="post">
     <input name="_method" type="hidden" value="delete">
    <button type="submit">Delete Question</button>
  </form>
  <% end %>

</ul>

<h3>Create a new question:</h3>
<br>
<form action="/questions" method="post">
  <input id="survey_id" name="survey_id" type="hidden" value="<%= @survey.id %>">

  <label for="text">Question text:</label>
  <input id= "text" name="text" type="text">

  <button type="submit">Add question</button>
</form>
